* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

input,
button,
select,
textarea {
	font-family: inherit;
}

.btn {
	font-size: 16px;
	outline: none;
	padding: 12px 22px;
	border: 1px solid #ccc;
	background: #ccc;
	border-radius: 6px;
	cursor: pointer;
}
.form-group {
	margin: 28px 0;
}

.radio {
	position: relative;
	display: inline-flex;
	align-items: center;
	font-size: 14px;
	line-height: 21px;
}

.radio + .radio {
	margin-left: 8px;
}

.radio::before,
.radio::after {
	content: "";
	display: inline-block;
}

.radio::before {
	margin-right: 6px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 3px solid #ccc;
}

.radio:has(:checked)::before {
	border-color: #ccc;
}

.radio:has(:checked)::after {
	position: absolute;
	top: 6px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ccc;
}

.radio [type="radio"] {
	display: none;
}

.form-group input {
	margin-top: 8px;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
	padding: 4px 8px;
}
